/LibcurlHttp_src/ipch
/LibcurlHttp_src/Win32
/LibcurlHttp_src/LibcurlHttp.VC.db
/LibcurlHttp_src/build.log
/LibcurlHttp_src/Test/x64
/LibcurlHttp_src/Test/Debug
/LibcurlHttp_src/Test/Release
/LibcurlHttp_src/Test/Win32
/LibcurlHttp_src/LibcurlHttp/x64
/LibcurlHttp_src/LibcurlHttp/Debug
/LibcurlHttp_src/LibcurlHttp/Release
/LibcurlHttp_src/LibcurlHttp/Win32
/LibcurlHttp/x64
/LibcurlHttp/inc
/LibcurlHttp/Win32
/LibcurlHttp_src/x64
/LibcurlHttp_src/.vs
